/************ HTML TAGS*****************/
.top-container {
  background-color: #E4F9F5;
position: relative;
padding-top: 100px;
}
body{
  COLOR:#40514E;
  margin:0px;
  text-align: center;
  font-family: "Merriweather", serif;
}
h1{
  color: #66BFBF;
  font-size: 5.625rem;
  margin-top:50px auto 0 auto;
font-family: "Sacramento" , cursive ;
}

h2{
  padding-bottom: 10PX;
  font-family: "Montserrat" , sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}
h3{
   font-family: "Montserrat" , sans-serif;
   color:#11999E;
}
a{
  color:#11999E;
}
p{
  line-height: 2;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #11999E;
  font-family:"Montserrat" , sans-serif;
  margin:10px 20px;
  text-decoration: none;

}
a:hover{
  color: #EAF6F6;
}

/***************Class and divs elements*******/


.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0px;
}


.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family:"Montserrat" , sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
.contact{
  width: 20%;
  margin: 40px auto 60px;
}
.intro{
  width:30%;
  margin:auto;

}
.middle-container{
  margin:100PX 0;


}

.bottom-container{
  background-color: #66bfbf;
  padding: 50PX 0 20PX;
}

.skillrow{
width:50%;
margin:100px auto 100px auto;
text-align: left;

 }
.pro{text-decoration: underline;}

.top-cloud{
  position:absolute;
  right:250px;
  top:50px
}
.bottom-cloud{
  position: absolute;
  left: 200px;
  bottom: 300px;


}

.rocket{
width: 25% ;
padding-left: 30PX;
float: right;



}

.marketing{
  width: 25% ;
  float: left;
  padding-right: 30px;
}


























/*******test div*********/
.red{
  height:100px;
  width: 100px;
  background-color: red;
  position: absolute;
  top:200px;
  left:200px;


}

  .blue{
    height:100px;
    width: 100px;
    background-color: blue;
    position: absolute;
    top:100px;
    left:100px;



  }

    .yellow{
      height:100px;
      width: 100px;
      background-color: yellow;

      position: absolute;
      top:0px;



    }
